@import './fa/fontawesome.scss';
@import './statusBar.scss';
@import 'mixins';
@import 'fonts';

body {
    margin: 0;
    padding: 0;
    background: #1f2537;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    .container {
        position: absolute;
        top: 50px;
        bottom: 0;
        right: 0;
        left: 0;
        background: #242c40;
        border-radius: 20px 20px 0 0;
        .touchbar {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            top: 140px;
            border-radius: 20px;
            background: #273147;
            transform: scale(0.9);
            transition: 0.3s;
            transition-property: border-radius, transform, border;

            &.active {
                border: 2px dashed rgb(252 171 12 / 33%);
                transform: scale(1);
                border-radius: 0;
            }
        }
        .manag {
            position: fixed;
            border-radius: 59px;
            transition: 0.3s;
            background: rgba(252, 172, 12, 0.541);
            transition-property: background, transform;
            &.wheel {
                @include manag(40px, 140px, 50%, 20px);
            }
            &.claw {
                @include manag(140px, 40px, initial, initial, 20px, 50%);
            }
            &.active {
                background: #fcab0c;
                transform: translate(-50%, -50%) scale(1.2);
            }
        }
    }
}
